<footer class="footer bg-dark py-5">
    <div class="container">
        <div class="row flex-lg-row flex-column-reverse  flex-wrap justify-content-between align-items-xl-center align-items-xl-end">
            <div class="col-lg-4 my-1">
                <p class="text-14">Copyright @ 2020. All rights reserved. <br> Designed by<a href="#" class="text-14">BlackCatTech</a></p>
            </div>
            <div class="col-lg-8 d-flex flex-wrap align-items-center justify-content-md-end">
                <p class="text-19 mr-3 my-1 ">Have idea how to make our service better? <br> Feel free to contact us!</p>
                <a href="#" class="btn btn-white ml-md-4 my-md-1 my-3">write a message</a>
            </div>
        </div>

    </div>
</footer>