<!-- header.html -->
<header class="header">
	<div class="container">
		<nav class="navbar navbar-expand">
			<a class="navbar-brand d-flex align-items-center" href="#"><img src="img/logo.svg" alt="logo" class="logo"><p class="logo-text">EduCat-e</p></a>
            <ul class="navbar-nav mr-auto d-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ENG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">ENG</a>
                        <a class="dropdown-item" href="#">RUS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCurr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        $
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCurr">
                        <a class="dropdown-item" href="#">$</a>
                        <a class="dropdown-item" href="#">$</a>
                    </div>
                </li>
            </ul>
            <div class="menu d-md-flex align-items-center">

                <div class="d-md-flex">
                    <a href="#" class="btn btn-blue">start learning</a>
                    <a href="#" class="btn btn-orange ml-md-2 my-md-0 my-3">start teaching</a>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item nav-link-upper">
                        <a href="#" class="nav-link  d-flex align-items-center">
                            <svg class="nav-user">
                                <use xlink:href="img/sprite/sprite.svg#user"></use>
                            </svg>
                            log in
                        </a>
                    </li>
                    <li class="nav-item nav-link-upper">
                        <a href="#" class="nav-link">
                            register
                        </a>
                    </li>
                </ul>

            </div>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-line navbar-toggler-top"></span>
                <span class="navbar-toggler-line navbar-toggler-center"></span>
                <span class="navbar-toggler-line navbar-toggler-bottom"></span>
            </button>

		</nav>
	</div>
</header>
<div class="overlay"></div>