<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EduCat-e</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    <div id="wrapper-content">
        <div class="authorization">
            <div class="row">
                <div class="col-lg-5 col-md-6 bg-white px-0 ">
                    <header class="header-authorization">
                        <nav class="navbar navbar-expand justify-content-start">
                            <a class="navbar-brand d-flex align-items-center mr-lg-4 mr-4" href="#"><img src="img/logo.jpg" alt="logo" class="logo mr-4"><span class="">EduCat-e</span></a>
                            <ul class="navbar-nav  ">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ENG
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">ENG</a>
                                        <a class="dropdown-item" href="#">RUS</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="authorization__container d-flex flex-column justify-content-center">
                        <h1 class="title-36 mb-3">Reset password</h1>
                        <p class="text-14 c-black weight-light mb-2"> Enter your new password</p>
                        <form class="py-4">
                            <div class="form-group has-error">
                                <label class="form-group__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#icon-password"></use>
                                    </svg>
                                </label>
                                <input type="text" class="input" placeholder="Enter password...">
                                <p class="help-block help-block-error">error</p>
                            </div>
                            <div class="form-group has-error">
                                <label class="form-group__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#icon-password"></use>
                                    </svg>
                                </label>
                                <input type="text" class="input" placeholder="Repeat password...">
                                <p class="help-block help-block-error">error</p>
                            </div>
                            <button type="submit" class="btn bg-green btn-check-mail">reset password</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 col-6 authorization__right mt-auto d-md-block d-none">
                    <div class="px-md-4 px-2">
                        <h2 class="title-welcome mb-4">
                            <strong>Stay home <span class="c-orange"> & </span> <br>
                                keep learning!</strong>
                        </h2>
                        <p class="text-18 pt-2">Welcome to the global education platform </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer bg-dark p-sm-4 py-4 px-2">
        <div class="row flex-lg-row flex-column-reverse  flex-wrap justify-content-between align-items-xl-center align-items-xl-end p-md-4">
            <div class="col-lg-4 my-1">
                <p class="text-14">Copyright @ 2020. All rights reserved. <br> Designed by<a href="#" class="text-14"> BlackCatTech</a></p>
            </div>
            <div class="col-lg-8 d-flex flex-wrap align-items-center justify-content-md-end">
                <p class="text-19 mr-3 my-1 ">Have idea how to make our service better? <br> Feel free to contact us!</p>
                <a href="#" class="btn btn-white ml-md-4 my-md-1 my-3">write a message</a>
            </div>
        </div>
    </footer>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
