@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .nav-tabs .nav-link
    min-width: 175px
  .search__popular
    width: calc(100% - 20px - 525px)
  .navbar
    padding: 0
  .navbar-brand
    margin-right: 20px
  .logo
    transform: scale(0.6)
  .navbar-brand
    font-size: 24px
  .navbar
    .btn
      width: 40px
      height: 40px
      line-height: 40px
      font-size: 16px
      &:hover
        width: 200px
    .btn-blue
      background-size: 11px
    .btn-orange
      background-size: 15px

  .navbar .btn.active
    width: 200px
    background-position: left 15px center
  .profile__right
    width: 400px
  .profile__left
    width: calc(100% - 400px - 20px)
  .btn-green
    background-position: left 10px center
    padding: 0 10px 0 26px
  .start-item
    padding: 130px 50px 70px 50px
@media only screen and (max-width : 991px)
  .search__popular
    width: 100%
    max-width: 100%
  .filter .dropdown-toggle:after
    margin-left: 10px
  .filter .dropdown-menu
    padding: 50px 10px 10px 10px
  .check
    margin-right: 10px
  .price
    width: 80px
    height: 40px
  .navbar-brand
    font-size: 18px
    margin-right: 10px
  .nav-link-upper .nav-link
    padding: 0 15px
    font-size: 14px
  .nav-link-upper:nth-child(2) .nav-link
    padding-left: 15px
  .nav-user
    width: 15px
    height: 16px
    margin-right: 10px
  .navbar
    min-height: 60px
  .navbar-nav .nav-link
    padding: 0 15px
  .logo-text
    display: none
  .profile__right
    width: 100%
  .profile__left
    width: 100%
    margin-right: 0
  .btn-green
    background-position: left 20px center
  #tabProfile .nav-item
    width: 50%
  .start-item
    padding: 70px 25px
    min-height: 480px
  .list__title
    font-size: 18px
  .type__item
    margin: 0
    padding: 5px 15px
  .type__item.bg-blue
    padding: 5px 15px
  .types
    margin-left: -10px
    width: calc(100% - 70px)
  .edit img
    width: 20px
    height: 20px
@media only screen and (max-width : 767px)
  .popular .title
    width: 100%
  .slick-dots
    top: auto
    bottom: 0
    right: 0
    justify-content: center
  .text-18
    font-size: 16px
  .title-main
    font-size: 42px
  .offer
    min-height: 400px
    padding: 60px 10px
  .btn
    height: 40px
    font-size: 16px
    line-height: 40px
    background-position: left 15px center
  .btn-orange
    background-size: 15px
    width: fit-content
  .btn-blue
    background-size: 11px
    width: fit-content
  .card__title
    font-size: 16px
  .text-14
    font-size: 13px
  .nav-tabs
    width: 100%
    .nav-item
      width: 33.33%
  .nav-tabs .nav-link
    width: 100%
    min-width: 100%
    padding: 20px
  .footer .text-19
    text-align: left
  .card
    max-width: 280px
  .menu
    position: absolute
    right: 0
    top: 100%
    background: #fff
    padding: 20px
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05)
    border-radius: 0 0 0 15px
    display: none
  .navbar .btn
    width: fit-content
    border-radius: 61px
    background-position: left 15px center
    color: #ffffff
    border-radius: 61px
    padding: 0 20px 0 45px
    &:hover
      width: fit-content
      background-position: left 15px center
      padding: 0 20px 0 45px
  .navbar-expand .navbar-toggler
    display: block
  .loader .btn-green
    height: 55px
  .breadcrumb-item
    font-size: 14px
  .breadcrumb-item + .breadcrumb-item
    padding-left: 10px
  .breadcrumb-item + .breadcrumb-item:before
    margin-right: 10px
  .start-item
    min-height: 400px
  .start-item__title
    font-size: 28px
  .start
    padding: 60px 0
  .list__module
    padding: 25px 10px 10px
  .list__title
    font-size: 16px
  .edit img
    width: 16px
    height: 16px
  .arrow
    width: 10px
    height: 10px
    margin-right: 7px
  .list-item
    margin-bottom: 20px
  .list__lessons-item
    margin-bottom: 10px
  .list__lessons
    padding-top: 10px
  .list__lessons-item
    padding: 20px 10px
  .type__item
    width: 50%
@media only screen and (max-width : 575px)
  .slider
    margin: 0
  .title
    font-size: 26px
  .popular
    padding: 40px 0
  .nav-tabs .nav-link
    border-radius: 0
    padding: 15px 10px
    font-size: 12px
  .filter
    .dropdown
      width: 100%
    .dropdown-toggle
      border: none
  .page-link
    padding: 0 9px
    line-height: 25px
    font-size: 13px
  .form-box
    padding: 30px 15px 5px 15px
  .form-group
    margin-bottom: 20px
  .title-32
    font-size: 26px
  .tags-item
    font-size: 14px
    padding: 0 15px
  .start-item
    padding: 40px 15px
  .drop-files__item p
    font-size: 13px
  .lesson, .course
    .textarea
      height: 300px
  .popup .form-box
    padding: 35px 10px
  .close
    right: 5px
    top: 5px
  .arrow
    margin-top: 4px
  .type__item
    width: fit-content
