<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EduCat-e</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header.html"
    <div id="wrapper-content">
        <div class="course py-5">
            <div class="container">
                <form class="form my-4 pb-3">
                    <h2 class="title-32 mb-2">Create course</h2>
                    <div class="d-flex flex-wrap">
                        <div class="profile__left mb-5">
                            <div class="form-box mb-4">
                                <div class="form-group">
                                    <label class="mb-3">Lesson title</label>
                                    <input type="text" class="input" placeholder="Enter lesson title...">
                                    <p class="help-block help-block-error">error</p>
                                </div>
                                <div class="form-group">
                                    <label class="mb-3">Lesson description</label>
                                    <textarea class="textarea" placeholder="Enter description..."></textarea>
                                    <p class="help-block help-block-error">error</p>
                                </div>
                            </div>
                            <div class="form-box mb-3">
                                <div class="form-group">
                                    <label class="mb-3">Add tags (up to 5)</label>
                                    <input type="text" class="input" placeholder="Enter tags...">
                                    <p class="help-block help-block-error">error</p>
                                </div>
                                <div class="form-group">
                                    <div class="tags">
                                        <a href="#" class="tags-item bg-green mr-2 mb-2">#drawing</a>
                                        <a href="#" class="tags-item bg-green mr-2 mb-2">#uidesign</a>
                                        <a href="#" class="tags-item bg-green mr-2 mb-2">#webdesign</a>
                                        <a href="#" class="tags-item bg-green mr-2 mb-2">#so_long_hashtag</a>
                                        <a href="#" class="tags-item bg-green mr-2 mb-2">#js</a>
                                    </div>
                                    <p class="help-block help-block-error"></p>
                                </div>

                            </div>
                        </div>
                        <div class="profile__right mb-5">
                            <div class="form-box mb-4">
                                <div class="form-group">
                                    <label class="mb-3">Category</label>
                                    <div class="select">
                                        <select>
                                            <option value="Select category" selected>Select category</option>
                                        </select>
                                    </div>
                                    <p class="help-block help-block-error"></p>
                                </div>
                            </div>
                            <div class="form-box mb-4">
                                <div class="form-group">
                                    <label class="mb-3">Language</label>
                                    <div class="select">
                                        <select>
                                            <option value="Select category" selected>Russian</option>
                                        </select>
                                    </div>
                                    <p class="help-block help-block-error"></p>
                                </div>
                            </div>
                            <div class="form-box mb-4">
                                <div class="row align-items-end">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="mb-3">Language</label>
                                            <input type="text" class="input" placeholder="Enter price">
                                            <p class="help-block help-block-error">error</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <div class="select">
                                                <select>
                                                    <option value="Сurrency" selected disabled>Сurrency</option>
                                                    <option value="">Сurrency</option>
                                                </select>
                                            </div>
                                            <p class="help-block help-block-error"></p>
                                        </div>

                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="d-flex">
                                                <input type="checkbox" class="checkbox" title="Free">
                                            </label>
                                            <p class="help-block help-block-error"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-box mb-4">
                                <div class="row align-items-end">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label class="mb-3">Number of seats in the lesson</label>
                                            <input type="text" class="input" placeholder="Lesson data">
                                            <p class="help-block help-block-error">error</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="d-flex">
                                                <input type="checkbox" class="checkbox" title="Unlimited">
                                            </label>
                                            <p class="help-block help-block-error"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end pb-5">
                        <button type="submit" class="btn bg-orange ml-md-3 mb-3">save changes</button>
                    </div>
                </form>
                <h2 class="title-32 pt-5 pb-3 mb-4">Add modules and lessons</h2>
                <ul class="list pb-5">
                    <li class="list-item">
                        <div class="list__module row align-items-center ">
                            <div class="col-lg-5 d-flex align-items-sm-center mb-3">
                                <img src="img/arrow.svg" alt="arrow" class="arrow">
                                <div class="d-flex align-items-md-center">
                                    <p class="list__title"><strong> Module 1: </strong> Lorem ipsum dolor sit amet </p>
                                    <a href="#" class="edit">
                                        <img src="img/edit.svg" alt="arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 d-flex flex-wrap align-items-center justify-content-end ">
                                <p class="text-14 c-black count mb-3">3 lessons</p>
                                <div class="price d-flex justify-content-center align-items-center mb-3"><p class="text-18 c-orange">$ 20</p></div>
                                <button type="button" class="btn bg-green btn-add-lesson ml-2 mb-3">+ add lesson</button>
                            </div>
                        </div>
                        <ul class="list__lessons">
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="list__lessons-row d-flex align-items-md-end mr-3">
                                        <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                        <a href="#" class="edit">
                                            <img src="img/edit.svg" alt="arrow">
                                        </a>
                                    </div>
                                    <div class="price price-green d-flex justify-content-center align-items-center"><p class="text-18 c-green">free</p></div>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="d-flex flex-wrap types align-items-center">
                                        <div class="type__item bg-blue">
                                            <p class="text-14">online webinar</p>
                                        </div>
                                        <p class="type__item text-14">
                                            <strong>Date: </strong> 30 April 2020
                                        </p>
                                        <p class="type__item text-14">
                                            <strong>Time: </strong> 16:00
                                        </p>
                                        <p class="type__item text-14">
                                            <strong>Duration: </strong>    2 hours
                                        </p>
                                    </div>
                                    <div class="price d-flex justify-content-center align-items-center"><p class="text-18 c-orange">$ 40</p></div>
                                </div>
                                <div class="d-flex align-items-md-end mb-3">
                                    <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                    <a href="#" class="edit">
                                        <img src="img/edit.svg" alt="arrow">
                                    </a>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="list__lessons-row d-flex align-items-md-end mr-3">
                                        <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                        <a href="#" class="edit">
                                            <img src="img/edit.svg" alt="arrow">
                                        </a>
                                    </div>
                                    <div class="price price-green d-flex justify-content-center align-items-center"><p class="text-18 c-green">free</p></div>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="list__module row align-items-center ">
                            <div class="col-lg-5 d-flex align-items-sm-center mb-3">
                                <img src="img/arrow.svg" alt="arrow" class="arrow">
                                <div class="d-flex align-items-md-center">
                                    <p class="list__title"><strong> Module 1: </strong> Lorem ipsum dolor sit amet </p>
                                    <a href="#" class="edit">
                                        <img src="img/edit.svg" alt="arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 d-flex flex-wrap align-items-center justify-content-end ">
                                <p class="text-14 c-black count mb-3">3 lessons</p>
                                <div class="price d-flex justify-content-center align-items-center mb-3"><p class="text-18 c-orange">$ 20</p></div>
                                <button type="button" class="btn bg-green btn-add-lesson ml-2 mb-3">+ add lesson</button>
                            </div>
                        </div>
                        <ul class="list__lessons">
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="list__lessons-row d-flex align-items-md-end mr-3">
                                        <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                        <a href="#" class="edit">
                                            <img src="img/edit.svg" alt="arrow">
                                        </a>
                                    </div>
                                    <div class="price price-green d-flex justify-content-center align-items-center"><p class="text-18 c-green">free</p></div>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="d-flex flex-wrap types align-items-center">
                                        <div class="type__item bg-blue">
                                            <p class="text-14">online webinar</p>
                                        </div>
                                        <p class="type__item text-14">
                                            <strong>Date: </strong> 30 April 2020
                                        </p>
                                        <p class="type__item text-14">
                                            <strong>Time: </strong> 16:00
                                        </p>
                                        <p class="type__item text-14">
                                            <strong>Duration: </strong>    2 hours
                                        </p>
                                    </div>
                                    <div class="price d-flex justify-content-center align-items-center"><p class="text-18 c-orange">$ 40</p></div>
                                </div>
                                <div class="d-flex align-items-md-end mb-3">
                                    <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                    <a href="#" class="edit">
                                        <img src="img/edit.svg" alt="arrow">
                                    </a>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="list__lessons-row d-flex align-items-md-end mr-3">
                                        <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                        <a href="#" class="edit">
                                            <img src="img/edit.svg" alt="arrow">
                                        </a>
                                    </div>
                                    <div class="price price-green d-flex justify-content-center align-items-center"><p class="text-18 c-green">free</p></div>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="list__module row align-items-center ">
                            <div class="col-lg-5 d-flex align-items-sm-center mb-3">
                                <img src="img/arrow.svg" alt="arrow" class="arrow">
                                <div class="d-flex align-items-md-center">
                                    <p class="list__title"><strong> Module 1: </strong> Lorem ipsum dolor sit amet </p>
                                    <a href="#" class="edit">
                                        <img src="img/edit.svg" alt="arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 d-flex flex-wrap align-items-center justify-content-end ">
                                <p class="text-14 c-black count mb-3">3 lessons</p>
                                <div class="price d-flex justify-content-center align-items-center mb-3"><p class="text-18 c-orange">$ 20</p></div>
                                <button type="button" class="btn bg-green btn-add-lesson ml-2 mb-3">+ add lesson</button>
                            </div>
                        </div>
                        <ul class="list__lessons">
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="list__lessons-row d-flex align-items-md-end mr-3">
                                        <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                        <a href="#" class="edit">
                                            <img src="img/edit.svg" alt="arrow">
                                        </a>
                                    </div>
                                    <div class="price price-green d-flex justify-content-center align-items-center"><p class="text-18 c-green">free</p></div>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="d-flex flex-wrap types align-items-center">
                                        <div class="type__item bg-blue">
                                            <p class="text-14">online webinar</p>
                                        </div>
                                        <p class="type__item text-14">
                                            <strong>Date: </strong> 30 April 2020
                                        </p>
                                        <p class="type__item text-14">
                                            <strong>Time: </strong> 16:00
                                        </p>
                                        <p class="type__item text-14">
                                            <strong>Duration: </strong>    2 hours
                                        </p>
                                    </div>
                                    <div class="price d-flex justify-content-center align-items-center"><p class="text-18 c-orange">$ 40</p></div>
                                </div>
                                <div class="d-flex align-items-md-end mb-3">
                                    <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                    <a href="#" class="edit">
                                        <img src="img/edit.svg" alt="arrow">
                                    </a>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                            <li class="list__lessons-item ml-auto">
                                <div class="d-flex mb-3">
                                    <div class="list__lessons-row d-flex align-items-md-end mr-3">
                                        <p class="list__title"><strong> Lesson 1: </strong> Lorem ipsum dolor sit amet </p>
                                        <a href="#" class="edit">
                                            <img src="img/edit.svg" alt="arrow">
                                        </a>
                                    </div>
                                    <div class="price price-green d-flex justify-content-center align-items-center"><p class="text-18 c-green">free</p></div>
                                </div>
                                <p class="text-14 c-black py-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                </p>
                                <p class="text-14 materials"><span>Materials:  </span>  2 videos</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="btn bg-blue mb-5">+ add module</a>
            </div>
        </div>

    </div>
    @import "footer.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
