<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EduCat-e</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header.html"
    <div id="wrapper-content">
        <div class="start d-flex  align-items-center">
            <div class="container">
                <div class="half-bg-white"></div>
                <h1 class="title-32">Start teaching</h1>
                <div class="row my-sm-4 pb-3">
                    <div class="col-md-6 my-5">
                        <div class="start-item d-flex flex-column justify-content-between">
                            <div>
                                <h2 class="start-item__title c-blue mb-5">Create lesson</h2>
                                <p class="text-18 c-black">If you want to create one-time lesson on a subject that you’re going to teach, we recommend you to press the button below.</p>
                            </div>
                            <a href="#" class="btn bg-blue mt-3">create</a>
                        </div>
                    </div>
                    <div class="col-md-6 my-5">
                        <div class="start-item d-flex flex-column justify-content-between">
                            <div>
                                <h2 class="start-item__title c-green mb-5">Create Course</h2>
                                <p class="text-18 c-black">If a subject that you are going to teach needs more complicated system of studying we recommend you to create a classroom. Here you’ll be able to create separate modules with lessons in it.</p>
                            </div>
                            <a href="#" class="btn bg-green mt-3">create</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-gray">cancel</a>
            </div>
        </div>
    </div>
    @import "footer.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
